.accounts-page {
  display: flex;
  flex-direction: row;

  .profile-content {
    flex-grow: 1;
    margin-left: 80px;
  }
  .data-content {
    flex-grow: 7;
    margin-right: 80px;
  }
  .profile-content,
  .data-content {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 700px) {
  .accounts-page {
    display: block;
    overflow: hidden;
    width: 100%;
    flex-direction: column;

    .profile-content {
      margin-left: 0;
    }

    .data-content {
      margin-right: 0;
    }
  }
}
