.profile-data {
  padding: 16px;

  .links {
    display: flex;
    padding-top: 10px;
    border-bottom: 1px solid #eaecef;

    a i {
      margin-right: 5px;
    }

    a {
      padding: 8px 16px;
      font-weight: 600;
      outline: 1px dotted transparent;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      white-space: nowrap;
      border: 0;
      color: #586069;
      border-bottom: 2px solid transparent;
    }

    a.active {
      border-bottom-color: #f9826c;
    }
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    .head-title {
      font-weight: 500;
    }
  }
  .repositories {
    display: grid;
    grid-template-columns: 50% 50%;

    .repository-card {
      background-color: white;
      border: 1px solid #e1e4e8;
      padding: 16px;
      border-radius: 6px;
      font-size: 14px;
      margin: 8px 14px 14px 0;

      .title {
        font-weight: 600;
        color: #0366d6;
      }

      .language {
        display: flex;
        margin-top: 28px;
        i {
          color: yellow;
          margin-right: 5px;
        }
      }
    }
  }

  .repositories:after {
    content: '';
    display: table;
    clear: both;
  }

  .heatmap {
    height: 200px;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 16px;
    margin-top: 6px;
  }

  .contribution {
    display: flex;
    flex-direction: row;
    margin-top: 24px;

    .activity {
      flex-grow: 9;
      margin-right: 20px;
      position: relative;

      h4 {
        font-size: 16px;
        font-weight: 500;
      }

      .month-date {
        border-bottom: 1px solid gray;
        font-size: 12px;
        height: 14px;
        font-weight: 600;
        margin-top: 10px;
      }

      span {
        background-color: white;
        position: absolute;
        padding: 2px 5px;
        top: 30px;
        font-size: 14px;
      }

      .respository-dates {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 32px;
        h4 {
          font-size: 16px;
          font-weight: 500;
        }

        i {
          margin-right: 16px;
        }

        .icon {
          background-color: white;
          z-index: 20;
          color: gray;
        }

        .line-icon {
          border-left: 1px solid gray;
          position: absolute;
          height: 80px;
          top: 54px;
          left: 5px;
        }
      }

      .repos-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 1.8rem;
        margin-top: 1rem;
        align-items: center;

        .repo-name,
        .repo-language {
          display: flex;
          flex-direction: row;
          align-items: center;
          i {
            margin-right: 5px;
            color: gray;
          }
        }

        .repo-name {
          h4 {
            color: #0366d6;
            font-size: 14px;
          }
        }

        .repo-language {
          h4 {
            font-size: 14px;
          }
          i {
            color: yellow;
          }
        }

        .date {
          h4 {
            font-size: 14px;
          }
        }
      }
    }

    .years {
      flex-grow: 1;
      h5 {
        font-size: 12px;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 6px;
        margin-bottom: 8px;
        border-radius: 6px;
        font-weight: 600;
      }

      .last-year {
        background-color: #0366d6;
        color: white;
      }
    }
  }
  .activity-button {
    text-align: center;
    width: 100%;
    background-color: #fafbfc;
    color: #0366d6;
    border-radius: 6px;
    font-weight: 600;
    line-height: 20px;
    border: 0.5px solid lightgray;
    height: 35px;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 700px) {
  .profile-data {
    .links {
      overflow-x: auto;
    }
    .contribution {
      .years {
        display: none;
      }
    }
    .repositories {
      grid-template-columns: 100%;
      .repository-card {
        margin: 0;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
}
